/*@font-face {
    font-family: 'Mamba Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Mamba Regular'), url('Mamba Ice Cream 1.woff') format('woff');
    }*/
    
@font-face {
    font-family: 'Sansita Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sansita Regular'), url('Sansita-Regular.woff') format('woff');
    }


body {
  margin: 0;
  font-family: 'Sansita Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(62, 223, 245), rgb(248, 96, 209));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
